# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/app/src/main/java/
android/gradlew
android/gradlew.bat
