rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(uid) {
      return exists(/databases/$(database)/documents/admins/$(uid));
    }
    match /users/{userId} {
      allow read: if request.auth != null &&
                     (request.auth.uid == userId || isAdmin(request.auth.uid));
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && (
        (request.auth.uid == userId &&
         !request.resource.data.diff(resource.data).affectedKeys().hasAny(['permissions']))
        || isAdmin(request.auth.uid));
      match /device_files/{fileId} {
        allow read: if request.auth != null &&
                       (request.auth.uid == userId || isAdmin(request.auth.uid));
        allow write: if request.auth != null && request.auth.uid == userId;
      }
    }
    match /admins/{adminId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
